apiVersion: v1
kind: Namespace
metadata:
  name: future-me

---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: redis-stack
  namespace: future-me
spec:
  replicas: 1
  selector:
    matchLabels:
      app: redis-stack
  template:
    metadata:
      labels:
        app: redis-stack
    spec:
      containers:
        - name: redis-stack
          image: redis/redis-stack:latest
          ports:
            - containerPort: 6379
            - containerPort: 8001
          resources:
            requests:
              cpu: "100m"
              memory: "256Mi"
            limits:
              cpu: "500m"
              memory: "512Mi"

---
apiVersion: v1
kind: Service
metadata:
  name: redis
  namespace: future-me
spec:
  selector:
    app: redis-stack
  ports:
    - name: redis
      port: 6379
      targetPort: 6379
  type: ClusterIP
